.SearchSuggestions {
  width: 100%;
  color: black;
}
.SearchSuggestions .searchContent {
  background-color: rgb(18, 18, 18);
  color: #ffffff;
  padding: 5px;
  display: flex;
  gap: 10px;
  border-color: rgb(87, 87, 87);
  border-top-width: 1px;
  border-top-style: solid;
  transition: all 0.125s ease 0s;
}
.SearchSuggestions .searchContent .movieimg img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}